.login-container {
   
    max-width: 400px;
    margin: 100px auto;
    padding: 50px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
  }
  
  .login-button {
    margin-top: 10px;
    background-color: #0077cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #005ea6;
  }
  
  .error {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff0000;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .signup_link{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  